<div class="row">
  <div class="col-md-12">
    <h2>Eat-Da-burger!</h2>
  </div>
  <div class="col-md-6">
    {{#each burger}}
     {{#unless this.devoured}}
    <ul class="list-group">
      <li>{{this.id}}. {{this.burger_name}}</li>
      <label for="customer"></label>
      <input type="text" data-customer ={{this.id}} class="form-control customerName" id="customer" placeholder="customer?">
      <a href="#" data-burgerId={{this.id}} class="btn btn-danger devourBurger">Devour!</a>
    </ul>
    {{else}} {{/unless}} {{/each}}
    </ul>
  </div>
  <div class="col-md-6">
    {{#each burger}} {{#unless this.devoured}} {{else}}
    <ul class="list-group">
      <li>{{this.id}}. {{this.burger_name}}</li>
      {{/unless}} {{/each}}
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      </br>
      </br>
      <form class="create-form">
        <div class="form-group">
          <label for="ca"></label>
          <textarea class="form-control" id="ca" rows="3" name="name"></textarea>
        </div>
        <button id= "newBurger" type="submit">submit</button>
      </form>
      Enter a burger you want to eat Click the "Submit" button.
      </form>
    </div>
  </div>
  <script>

    $(document).ready(function () {
    
   //   $.ajax("/api/burger",{
   //     type: "GET",
   //   }).then(function(data){
   //     console.log(data);
   //     res.json(data);
   //     location.reload();
   //   });

      $(".devourBurger").click(function () {
        var customerName = $("#customer").val().trim();
        var burgerId = $(this).attr("data-burgerId");
        console.log(burgerId);
        console.log(customerName);
        var burgerData = {
          burgerId: burgerId,
           customer : customerName
        }
       // var burgerIdInfo = {
         // burger_id: burgerId
        //}
     
        
        $.ajax("/update/" + burgerId, {
          type: "PUT",
          data: burgerData
        }).then(function () {
          location.reload();
        })
      })
       $("#newBurger").click(function(){
         event.preventDefault()
       //  alert("hello");
       //  var check = $("#ca").val().trim();
         //console.log($("#ca").val().trim());
         //console.log(check);
        var newBurger = $("#ca").val().trim();
        console.log(newBurger);
        var newBurgerData = {
          burger_name : newBurger,
           devoured : 0
        }
        console.log(newBurgerData);
        $.ajax("/api/burger",{
          type: "POST",
          data: newBurgerData
        }).then(function(data){
          console.log(data);
          location.reload();
        })
      });
    });



  </script>